<div class="card" style="width: 100%;">
    <picture><%= image_tag @order.product.image%></picture>
    <div class="card-body">
      <h3 class="card-title"><%= @order.product.name%></h3>
      <h2 class="card-title"><%=number_to_currency @order.product.price%></h2>
      <h6><%= @order.product.user.name%></h6>
       <p class="card-text"><%= @order.product.category%></p>
      <p class="card-text"><%= @order.product.description%></p>
    </div>
  </div>
  <h3>Dúvidas</h3>
  <p>Para começar o negócio crie um comentário</p>
<%= link_to 'Voltar', product_path(@order.product) %>